html
  head
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    title Error
  body
    div.container
      div.row
        div.col-xs-12
          p.lead= message
          p= err