footer
  if greyFooter
    section.footer-top.background-color-grey-light
      div.container
        header
          h2 #[a.roll Follow us on]
        div.row
          div.col-xs-12
            ul.list-inline.social
              li
                a(href="https://www.facebook.com/ConnectEDChina", target="_blank").facebook
                  i.fa.fa-facebook-official.fa-4x
              li
                a(href="http://weibo.com/u/5603368574", target="_blank").weibo
                  i.fa.fa-weibo.fa-4x
              li
                a.wechat
                  i.fa.fa-weixin.fa-4x#wechat
              li
                a(href="http://instagram.com/connected_china", target="_blank").instagram
                  i.fa.fa-instagram.fa-4x#insta
  else
    section.footer-top
      div.container
        header
          h2 #[a.roll Follow us on]
        div.row
          div.col-xs-12
            ul.list-inline.social
              li
                a(href="https://www.facebook.com/ConnectEDChina", target="_blank").facebook
                  i.fa.fa-facebook-official.fa-4x
              li
                a(href="http://weibo.com/u/5603368574", target="_blank").weibo
                  i.fa.fa-weibo.fa-4x
              li
                a.wechat
                  i.fa.fa-weixin.fa-4x#wechat
              li
                a(href="http://instagram.com/connected_china", target="_blank").instagram
                  i.fa.fa-instagram.fa-4x#insta
  section.footer-bottom
    div.container
      div.row
        div.col-md-7.col-sm-6
          section.copyright
            span Copyright © #[a(href="#") ConnectED China], 2015
        div.col-md-5.col-sm-6
          section
            span Reach us at #[a(href="mailto:info@connected-china.org") info@connected-china.org] for any questions